@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
  }

body {
    background-image: url(/bg.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}